{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  
  {{>partials/head}}

  <body>

        <div class="body-content">

            <nav id="sidebar" role="navigation">

                <div class="sidebar">
                    
                    {{>partials/navbar}}

                    <div class="sidebar-item-separator"></div>

                    {{^_disableToc}}
                        {{>partials/toc}}
                    {{/_disableToc}}

                </div>

                {{^_disableFooter}}
                    {{>partials/footer}}
                {{/_disableFooter}}

            </nav>

            <main class="main-panel">

                <div class="blackout desktop-hide"></div>

                {{^_disableBreadcrumb}}
                    {{>partials/breadcrumb}}
                {{/_disableBreadcrumb}}

                <div class="content-region" role="main">

                    <div class="content-column">
                        {{#_enableSearch}}
                            {{>partials/searchResults}}
                        {{/_enableSearch}}

                        <article class="content wrap hide-when-search" id="_content" data-uid="{{uid}}">
                            {{!body}}
                        </article>
                    </div>

                </div>

            </main>

        </div>

        {{>partials/scripts}}

    </body>

</html>
